body {
    background-color: #242424;
    color: white;
    font: normal 20pt arial;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    border-radius: 10px;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornflowerblue;
}

ul li {
    list-style: none;
    display: flex;
    padding-right: 10px;
}

.butao {
    padding-left: 10px;
    display: flex;
}

.buttt {
    width: 120px;
    height: 40px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

input {
    width: 40px;
    height: 20px;
    display: flex;
    align-self: center;
    border-radius: 5px;
    outline: 0;
}